<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Baloise Open-Source</title>
    <meta name="description" content="baloise design system html example">

    <link
        rel="stylesheet"
        href="/assets/css/balfonts.css"
    />
    <link
        rel="stylesheet"
        href="/assets/css/custom.css"
    />

    <!--
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@baloise/design-system-fonts@11.0.12/lib/fonts.cdn.css"
        />
    -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@baloise/design-system-components@11.0.12/dist/design-system-components/design-system-components.css"
    />
    <script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@baloise/design-system-components@11.0.12/dist/design-system-components/design-system-components.esm.js"
    ></script>
    <script
        nomodule
        src="https://cdn.jsdelivr.net/npm/@baloise/design-system-components@11.0.12/dist/design-system-components/design-system-components.js"
    ></script>
</head>

<body>
<bal-app background>

    <bal-navbar interface="app">
        <bal-navbar-brand href="/" target="_blank">Open Source</bal-navbar-brand>
        <bal-navbar-menu>
            <bal-navbar-menu-end>
                <bal-tabs interface="navbar" inverted>
                    <bal-tab-item label="Jobs" href="jobs2.html">Jobs</bal-tab-item>
                    <bal-tab-item label="Jobs"><a class="navbar-item" href="jobs2.html"><bal-text>Jobs</bal-text></a></bal-tab-item>
                    <bal-tab-item label="Jobs"><a class="navbar-item" href="about2.html"><bal-text>About Us</bal-text></a></bal-tab-item>
                </bal-tabs>
            </bal-navbar-menu-end>
        </bal-navbar-menu>
    </bal-navbar>

    <main class="m-2">
        {{content}}
    </main>

    <bal-footer hide-links="true" hide-language-selection="true">
        <div class="container">
            <bal-logo color="white"></bal-logo>
            <div class="columns">
                <div class="column">
                    <div><a class="has-text-white bal-gh-footer-link" href="mailto:Group.CH_Open-Source@baloise.ch"><bal-icon name="message" inverted size="small"></bal-icon>Group.CH_Open-Source@baloise.ch</a></div>
                </div>
                <div class="column">
                    <div><a class="has-text-white bal-gh-footer-link" href="https://github.com/baloise"><bal-icon name="github" inverted size="small"></bal-icon>baloise</a></div>
                    <div><a class="has-text-white bal-gh-footer-link" href="https://instagram.com/faktischversichert"><bal-icon name="instagram" inverted size="small"></bal-icon>faktischversichert</a></div>
                    <div><a class="has-text-white bal-gh-footer-link" href="https://www.linkedin.com/company/baloisegroup"><bal-icon name="linkedin" inverted size="small"></bal-icon>baloisegroup</a></div>
                    <div><a class="has-text-white bal-gh-footer-link" href="https://youtube.com/BaloiseGroup"><bal-icon name="youtube" inverted size="small"></bal-icon>BaloiseGroup</a></div>
                </div>
                <div class="column">
                    <div><a class="has-text-white" href="https://www.baloise.com">https://www.baloise.com</a></div>
                </div>
            </div>
        </div>
    </bal-footer>

</bal-app>
</body>

</html>
