<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Baloise Open-Source</title>
    <meta name="description" content="baloise design system html example">

    <link
        rel="stylesheet"
        href="/assets/css/balfonts.css"
    />
    <link
        rel="stylesheet"
        href="/assets/css/custom.css"
    />

    <!--
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@baloise/design-system-fonts@10.15.2/lib/fonts.cdn.css"
        />
    -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@baloise/design-system-components@10.15.2/dist/design-system-components/design-system-components.css"
    />
    <script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@baloise/design-system-components@10.15.2/dist/design-system-components/design-system-components.esm.js"
    ></script>
    <script
        nomodule
        src="https://cdn.jsdelivr.net/npm/@baloise/design-system-components@10.15.2/dist/design-system-components/design-system-components.js"
    ></script>
</head>

<body>
<bal-app background>

    <bal-navbar>
        <bal-navbar-brand>
            <bal-icon name="logo" inverted size="large"></bal-icon>
            <bal-text style="margin-left: 15px">Baloise Group</bal-text>
        </bal-navbar-brand>
        <bal-navbar-menu>
            <bal-navbar-menu-start>
                <a class="navbar-item" href="jobs2.html"><bal-text>Jobs</bal-text></a>
                <a class="navbar-item" href="about2.html"><bal-text>About Us</bal-text></a>
            </bal-navbar-menu-start>
        </bal-navbar-menu>
    </bal-navbar>

    <main class="m-2">
        {{content}}
    </main>

    <bal-footer hide-links="true" hide-language-selection="true">
        <div class="container">
            <bal-logo color="white"></bal-logo>
            <div class="columns">
                <div class="column">
                    <div><a class="has-text-white" href="mailto:Group.CH_Open-Source@baloise.ch">E-Mail: Group.CH_Open-Source@baloise.ch</a></div>
                </div>
                <div class="column">
                    <div><a class="has-text-white" href="https://instagram.com/faktischversichert"><img class="bal-gh-icon" src="/assets/svg/icon-github.svg"></bal-icon>Instagram: faktischversichert</a></div>
                    <div><a class="has-text-white" href="https://www.linkedin.com/company/baloisegroup">Linkedin: baloisegroup</a></div>
                    <div><a class="has-text-white" href="https://youtube.com/BaloiseGroup">Youtube: BaloiseGroup</a></div>
                </div>
                <div class="column">
                    <div><a class="has-text-white" href="https://www.baloise.com">https://www.baloise.com</a></div>
                </div>
            </div>
        </div>
    </bal-footer>

</bal-app>
</body>

</html>
