<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}    
    
    <!-- custom layout BEGIN -->
    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'baloise/Lobby'
      };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    <!-- custom layout END -->

  </body>

</html>
