@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-heihgt: 17px;
}

a {
  color: #003399;
	text-decoration: none;
}

 .app_title {
	color: #003399;
	font-size: 24px;
	line-height: 28px;
}

.small_1 {
  font-size: 11px;
	line-height: 15px;
}

.active {
  color: #008AC9; 
}

.page_title {
	color: #003399;
  font-size: 20px;
	line-height: 24px;
	
	margin-bottom: 10px;
}

#buttonbar {
  margin-top: 24px;
	text-align: right;
}

#buttonbar button, #buttonbar input {
  margin-left: 8px;
	background-image:url(../images/button_bg.png);
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #AAAAAA;
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	padding-left: 7px;
	padding-right: 7px;
	height: 24px;
}

#buttonbar .special {
	background-image:url(../images/button_a_bg.png);
	border-top: 1px solid #99BBEE;
	border-bottom: 1px solid #6688BB;
	border-left: 1px solid #8899AA;
	border-right: 1px solid #8899AA;
}

#fussnote {
  margin-top: 24px;
}

#disclaimer {
  margin-top: 14px;
  color: #999999;
	border: 1px solid #BBBBBB;
	padding: 7px;
}

#splashbox {
  background-image: url(../images/home_bg.png);
	background-repeat: no-repeat;
	background-color: #003399;
	color: white;
	
	max-height: 250px;
	padding: 24px;
}

#splashbox h1 {
  font-size: 20px;
	line-height: 24px;
	font-weight: normal;
	margin-top: 0px;
}

#homebuttonbar {
  margin-top: 36px;
}

#homebuttonbar button{
  background-image: url(../images/home_button_bg.png);
	border: 0px solid white;
	height: 32px;
	padding: 0px 12px 3px 12px;
	-moz-border-radius: 4px;
	margin-right: 12px;
	
	font-size: 14px;
	color: #003399;
	
}

#splashbox #history {
  margin-top: 36px;
	color: #e5ecf7
}

#splashbox #history ul{
  padding-left: 0px; 
	list-style: none;
	margin-left: 0px;
}

#splashbox #history li{
  color: #CCd7E7;   
	vertical-align: middle;
	margin-bottom: 2px; 
}


#informationbox {
  margin-top: 36px;
	padding: 24px;
	border: 1px solid #BBBBBB;
}

#informationbox h1{
  margin-top: 0px;
	font-size: 12px;
	line-height: 17px;
}

#informationbox ul {
  padding-left: 0px; 
	list-style: none;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#informationbox li {
  padding-left: 0px;
}

.contextbox_wrapper {
   width: 192px;
   border: 1px solid #DDDDDD;
	 color: #333333; 
	 font-size: 11px;
	 margin-bottom: 8px;
}

.contextbox_wrapper .title {
  border-bottom: 1px solid #DDDDDD;
	padding: 8px 10px 8px 10px;
	font-weight: bold;
	background-color: #F6F6F6;
}

.contextbox_wrapper .text {
  padding: 14px 10px 14px 10px;
}

.contextbox_wrapper .text ul {
  padding-left: 0px; 
	list-style: none;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}


