.contributor img {
	border: 0 none;
	border-radius: 3px 3px 3px 3px;
	display: block;
	height: 80px;
	width: 80px;
	border: 1px solid #eee;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.contributor img:hover {
	box-shadow: 0px 0px 3px 1px rgba(160, 160, 160, 0.8);
	-webkit-box-shadow: 0px 0px 3px 1px rgba(160, 160, 160, 0.8);
}

.contributor a {
	position: relative;
	height: 82px;
	display: block;
}

.contributor {
	display: inline-block;
	margin: 5px;
}

.contributor-name {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	bottom: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	color: #FFFFFF;
	font-size: 12px;
	left: 0;
	margin: 2px;
	padding: 0 4px;
	position: absolute;
	width: 70px;
}
.repos td {
	padding-left: 44px;
}
p {
	padding-left: 44px;
	/*
	text-align: justify;
	text-justify: inter-word;
	*/
}

.menuContent {
	display: none;
}

.repos {
    padding-left: 0;
    list-style: none;
    border-top: 1px solid #E5E6F1;
    margin: 0 -13px;
}
.repo {
    margin: 1px 0;
    padding: 0 13px 6px;
    color: #30418C;
    background: #F9F9FC;
    
    border-bottom: 1px solid #E5E6F1;
}
.repo:hover {
    background: #F1F1F4;
}
.repo-name h3 {
    margin: 6px 0 0 0;
}
.repo-stats {
    margin-top: 6px;
    background: url(../assets/app/arrow.gif) right center no-repeat;
}
.repo-stats ul {
    list-style: none;
    padding-left: 0;
    height: 47px;
    line-height: 47px;
}
.repo-stats b {
    display: block;
}
.repo-stats span {
    display: block;
    font-size: 11px;
    color: #B6BCD7;
    color: rgba(48, 65, 140, 0.40);
}
.repo-stats .repo-watchers,
.repo-stats .repo-forks {
    text-align: center;
    line-height: 11px;
    margin-top: 15px;
}
.repo-desc {
    margin: 10px 20px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #B6BCD7;
    color: #30418C;
}

.navSelector a {
	cursor: pointer;
}


